@model webDemo.Models.Role

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row justify-content-center">
    <div class="col-lg-7">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header"><h3 class="text-center font-weight-light my-4">Thêm mới quyền quản trị</h3></div>
            <ol class="breadcrumb mb-4 breadcrumb">
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Roles" asp-action="Index">Quản lý quyền truy cập</a></li>
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Roles" asp-action="Create">Tạo mới quyền truy cập</a></li>

            </ol>
            <div class="card-body">
                <form asp-area="Admin" asp-controller="Roles" asp-action="Create" method="post">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                <input class="form-control" id="inputFirstName" placeholder="Enter your RoleName" type="text" asp-for="RoleName"/>
                                <label for="inputFirstName">RoleName</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input class="form-control" id="inputLastName" placeholder="Enter your RoleDescription" type="text"asp-for="RoleDescription" />
                                <label for="inputLastName"> RoleDescription </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-layout-footer">
                        <button class="btn btn-primary bd-0">Thêm mới</button>
                        <button class="btn btn-secondary bd-0"> <a asp-action="Index">Trở về</a></button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>