@model webDemo.Models.Post

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div>
    <table class="table table-sm table-hover table-bordered table-striped">

        <tbody>
            <tr>
                <td>ID</td>
                <td>  @Html.DisplayFor(model => model.PostId)</td>

            </tr>
            <tr>
                <td>Tiêu đề</td>
                <td>  @Html.DisplayFor(model => model.Title)</td>
            </tr>
            <tr>
                <td>Ngày đăng</td>
                <td>  @Html.DisplayFor(model => model.CreatedAt)</td>
            </tr>
            <tr>
                <td>Danh mục:</td>
                <td> <input  asp-for="Cat.CatName" style="border:0px;" type="text"></td>
            </tr>
            <tr>
                <td>Tác Giả</td>
                <td>  @Html.DisplayFor(model => model.Author)</td>
            </tr>
        </tbody>
    </table>
    <form asp-action="Delete">
        <input type="hidden" asp-for="PostId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
