@model webDemo.Models.Category

@{
    ViewData["Title"] = "Sửa danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row justify-content-center">
    <div class="col-lg-7">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header"><h3 class="text-center font-weight-light my-4">Thêm mới Danh mục</h3></div>
            <ol class="breadcrumb mb-4 breadcrumb">
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Categories" asp-action="Index">Quản lý Danh mục</a></li>
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Categories" asp-action="Create">Tạo mới Danh mục</a></li>

            </ol>
            <div class="card-body">
                <form asp-area="Admin" asp-controller="Categories" asp-action="Edit" asp-route-id="@Model.CatId" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="CatId" />
                    <input type="hidden" asp-for="Alias" />
                    <input type="hidden" asp-for="Thumb" />
                    <input type="hidden" asp-for="Icon" />
                    <input type="hidden" asp-for="Cover" />
                    <div class="row mb-3" style="margin:0px;">
                        <div class="col-md-4">
                            <div class=" mb-3 mb-md-0">
                                <label for="inputFirstName">Tên danh mục</label>
                                <input class="form-control" id="inputFirstName" placeholder="Enter your RoleName" asp-for="CatName" />

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="inputFirstName">Danh mục cha</label>
                                <select class="form-control" id="sel1" name="sellist1" asp-for="Parent" asp-items="@ViewBag.Danhmucgoc" required>
                                    <option value="0" selected>Danh mục gốc</option>

                                </select>
                                <br>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <label for="inputLastName"> RoleDescription </label>
                                <input type="number" class="form-control" id="inputLastName" asp-for="Ordering" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" style="margin:0px;">
                        <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText3">Mô tả</label>
                        <div class="col-12 col-sm-8 col-lg-12">
                            <input class="form-control" id="inputText3" type="text" asp-for="Desciption">
                        </div>
                    </div>
                        <div class="row mb-2" style="margin:0px;">
                            <div class="form-group row col-md-6">
                                <label class="col-12 col-sm-3 col-form-label text-sm-right" for="file-2">Ảnh đại diện</label>
                                <input class="form-control-file" type="file" name="fThumb" asp-for="Thumb">
                            </div>
                            <div class="form-group row col-md-6">
                                <label class="col-12 col-sm-3 col-form-label text-sm-right" for="file-2">COVER</label>
                                <input class="form-control-file" type="file" name="fCover" asp-for="Cover">
                            </div>
                        </div>
                        <div class="row mb-2" style="margin:0px;">
                            <div class="form-group row col-md-6">
                                <label class="col-12 col-sm-3 col-form-label text-sm-right" for="file-2">ICON  </label>
                                <input class="form-control-file" type="file" name="fIcon" asp-for="Icon">
                            </div>

                        </div>
                        <div class="form-group row" style="margin:0px;">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText3">Tiêu đề</label>
                            <div class="col-12 col-sm-8 col-lg-12">
                                <input class="form-control" id="inputText3" type="text" asp-for="Title">
                            </div>
                        </div>
                        <div class="form-group row" style="margin:0px;">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText3">MataKey:</label>
                            <div class="col-12 col-sm-8 col-lg-12">
                                <input class="form-control" id="inputText3" type="text" asp-for="MetaKey">
                            </div>
                        </div>
                        <div class="form-group row" style="margin:0px;">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText3">Input Text</label>
                            <div class="col-12 col-sm-8 col-lg-12">
                                <input class="form-control" id="inputText3" type="text">
                            </div>
                        </div>
                        <br />
                        <div class="form-layout-footer" style="margin:0px;">
                            <button type="submit" class="btn btn-primary bd-0">Thêm mới</button>
                            <button class="btn btn-secondary bd-0"> <a asp-area="Admin" asp-controller="Categories" asp-action="Index">Trở về</a></button>
                        </div>

</form>
            </div>

        </div>
    </div>
</div>